<!DOCTYPE html>
<html>

<head>
  <meta name="" content="width=device-width, initial-scale=1">
  <title>Facedrive Database</title>
  <link rel="stylesheet" href="index.css">
</head>

<body>

  <h2> Facedrive database</h2> 
  <h3> Ride Id   Amount charged Id  Fee  Up_Facedrive_Fee Amount, Up_Amount_Charged
  <div>{{val}}</div>
</body>

</html>